body {
    background-image: url('./../imges/car-led-lights-realistic-composition-with-dark-silhouette-automobile-with-dimmed-headlights-shadows-illustration_1284-28532.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: #FFFFFF;
    text-align: center;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #010911;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }



  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .page {
    display: flex;
    margin-bottom: 20px;
  }
  
  .image-container,
  .annonce-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    display: flex;
    align-items: center;
  }
  
  .image-preview {
    max-width: 100%;
    max-height: 100%;
  }
  
  .annonce-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .annonce-description {
    font-size: 16px;
    line-height: 1.4;
    color: #555;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }